<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>818442945858-kmo5j2q39c3uesm1m056nipi1a0g01uu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818442945858-kmo5j2q39c3uesm1m056nipi1a0g01uu</string>
	<key>API_KEY</key>
	<string>AIzaSyDVu4p2YBS0DFTWeFNi-vrei_eSBBXCSyc</string>
	<key>GCM_SENDER_ID</key>
	<string>818442945858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.holista.myswaddle</string>
	<key>PROJECT_ID</key>
	<string>medicaid-d0fdf</string>
	<key>STORAGE_BUCKET</key>
	<string>medicaid-d0fdf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818442945858:ios:2a190160922c676990b4db</string>
</dict>
</plist>